<div class="container">
    <h2 class="headerText">OTP Verification  </h2>
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-4">
        <form action="/action_page.php">
        <div class="form-group form-inline">
            <label for="from" style="width:130px;">Enter OTP</label>
            <input type="from"
                class="form-control"
                id="from"
                placeholder="From"
                name="from">
        </div>
        <div>
            <button type="submit" class="btn btn-default" (click)="otpSubmit()">Submit</button>
        </div>
        </form>
    </div>
 </div>
            
            