
<!-- <div class="container">
    <h2 class="txt-align">Welcome</h2>
    <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="txt-design" (click)="needRide()" >
            Need Ride 
        </div>
        <div class="txt-design" (click)="shareRide()">
            Share Ride 
        </div>
    </div>
  </div>

</div> -->
<!-- <h1>Main Component</h1>
<button (click)="onLoadShareRide()">click me</button> -->

<h1>Welcome</h1>
<!-- <button (click)="onLoadShareRide()">click me</button> -->

<button (click)="changeRoute('verification')"> verification</button>
<button (click)="changeRoute('requestRide')"> Request RIDE</button>
<button (click)="changeRoute('shareRide')"> SHARE RIDE</button>

